/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
.thought1{
    font-family: 'Lobster', cursive;
}
.thought2{
    font-family: 'Source Code Pro', monospace;
}
.thought3{
    font-family: 'Righteous', cursive;
}
